<div class="row">
  <div class="col-ms-4">
    <div [hidden]="submitted">
      <h1>Registration</h1>
      <form (ngSubmit)="onSubmit()" #regForm="ngForm">
        <div class="form-group">
          <label for="first-name">First Name</label>
          <input type="text" class="form-control" id="first-name" required [(ngModel)]="user.firstName" name="firstname" #firstname="ngModel">
          <div [hidden]="firstname.valid || firstname.pristine" class="alert alert-danger">
           First Name is required.
          </div>
        </div>
        <div class="form-group">
          <label for="last-name">Last Nmae</label>
          <input type="text" class="form-control" id="last-name" required [(ngModel)]="user.lastName" name="lastname" #lastname="ngModel">
          <div [hidden]="lastname.valid || lastname.pristine" class="alert alert-danger">
            Last Name is required.
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" id="email" required [(ngModel)]="user.email" name="email" #email="ngModel" class="invalid-feedback">
          <div *ngIf="regForm.submitted && email.invalid" class="invalid-feedback">
                                        <div *ngIf="email.errors.required">Email is required</div>
                                        <div *ngIf="email.errors.email">Email must be a valid email address</div>
                                    </div>

         
        </div>
        <button type="submit" class="btn btn-success" [disabled]="!regForm.form.valid">Submit</button>
      </form>
    </div>
    <div [hidden]="!submitted" class="message">Thank you!</div>
  </div>

</div>